/* Override some defaults */
html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  /*padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

.container > footer p {
  text-align: center; /* center align it with the container */
}

.container .unfixed-width {
  width: 90%;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.spacer {
  margin-left: 20px;
  display:inline;
}

/* co-currence matrix */
.background {
  fill: #eee;
}

line {
  stroke: #fff;
}

text.active {
  fill: red;
}

/* bootstrap customisation */
.modal {
    width: 70%; /* respsonsive width */
    margin-left:-35%; /* width/2) */
}

.drop {
  border: 3px dashed #ccc;
  padding: 10px;
  background: #fff;
  min-height: 200px;
  text-align: center;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* Show links as active (dark navy with yellow left border) */
ul.sidebar .sidebar-list a.active {
  color: #fff;
  border-left: 3px solid #e99d1a;
  text-indent: 22px;
}

#page-wrapper:not(.open) ul.sidebar .sidebar-list a.active span {
  border-left: 3px solid #e99d1a;
  text-indent: 22px;
}

ul.sidebar .sidebar-list a.active {
  /* Sidebar header and footer color */
  background: #2d3e63;
}

.progress {
  height: 5px;
  margin-left: -15px;
  margin-top: -8px;
  width: 101%;
}

.progress-bar {
  -webkit-transition: width .1s linear;
  -moz-transition: width .1s linear;
  -ms-transition: width .1s linear;
  -o-transition: width .1s linear;
  transition: width .1s linear;
}

.hidden {
  display: initial !important;
  visibility: hidden !important;
}

#content-wrapper, .page-content {
  width:100% !important;
  height:96% !important;
}

.img-responsive {
    margin: 0 auto;
}

.no-padding {
  padding: 0px;
}

.widget .widget-body {
  padding: 0px !important;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}

.dim {
  color: rgb(124, 124, 124);
}

.full {
  width: 100%;
  height: 100%;
  padding: 0px !important;
  margin: 0px !important;
}

.center {
  text-align: center;
}