.row
  .col-md-6
    rd-widget
      rd-widget-header(icon="fa-group", title="Who's in this Week?")
        a(href="#") {{stat.people.length}} People
      rd-widget-body.large.no-padding(loading="{{!stat}}")
        img.img-thumbnail(ng-repeat="person in stat.people", src="{{person.avatarUrls.48x48}}", title="{{person.displayName}}")
  .col-md-12
    rd-widget
      rd-widget-header(icon="fa-clock-o", title="Current Sprint")
        {{currentSprintJiras.issues.length}} issues
      rd-widget-body.medium.no-padding(loading="{{!currentSprintJiras.issues}}")
        .row
          .col-md-3
            .table-responsive
              table.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th TODO ({{open.length}})
                  tbody
                    tr(ng-repeat="issue in open = (currentSprintJiras.issues | filter:{fields: { status: { name: 'Open' }}})")
                      td
                        img.img-thumbnail(src="{{issue.fields.assignee.avatarUrls.16x16}}", title="{{issue.fields.assignee.displayName}}")
                        a(href='{{config.jiraHostName}}/browse/{{ issue.key }}', target="_blank") {{ issue.key }}
                        br
                        {{ issue.fields.summary }}
          .col-md-3
            .table-responsive
              table.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th In Progress ({{inProgress.length}})
                  tbody
                    tr(ng-repeat="issue in inProgress = (currentSprintJiras.issues | filter:{fields: { status: { name: 'In Progress' }}})")
                      td
                        img.img-thumbnail(src="{{issue.fields.assignee.avatarUrls.16x16}}", title="{{issue.fields.assignee.displayName}}")
                        a(href='{{config.jiraHostName}}/browse/{{ issue.key }}', target="_blank") {{ issue.key }}
                        br
                        {{ issue.fields.summary }}
          .col-md-3
            .table-responsive
              table.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th On Hold ({{onhold.length}})
                  tbody
                    tr(ng-repeat="issue in onhold = (currentSprintJiras.issues | filter:{fields: { status: { name: 'On hold' }}})")
                      td
                        img.img-thumbnail(src="{{issue.fields.assignee.avatarUrls.16x16}}", title="{{issue.fields.assignee.displayName}}")
                        a(href='{{config.jiraHostName}}/browse/{{ issue.key }}', target="_blank") {{ issue.key }}
                        br
                        {{ issue.fields.summary }}
          .col-md-3
            .table-responsive
              table.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th Done ({{completed.length}})
                  tbody
                    tr(ng-repeat="issue in completed = (currentSprintJiras.issues | filter:{fields: { status: { name: 'Resolved' }}})")
                      td
                        img.img-thumbnail(src="{{issue.fields.assignee.avatarUrls.16x16}}", title="{{issue.fields.assignee.displayName}}")
                        a(href='{{config.jiraHostName}}/browse/{{ issue.key }}', target="_blank") {{ issue.key }}
                        br
                        {{ issue.fields.summary }}