extends layout

block body

  body(ng-controller='MasterCtrl')
    #page-wrapper(ng-class="{'open': toggle}", ng-cloak='')
      #sidebar-wrapper
        ul.sidebar
          li.sidebar-main
            a(ng-click='toggleSidebar()')
              | Dashboard
              span.menu-icon.glyphicon.glyphicon-transfer
          li.sidebar-title
            span NAVIGATION

          li.sidebar-list(ng-repeat="route in routes")
            a(href='#/{{route.url}}', ng-class="{ active: isActive('/' + route.url) }", title="{{route.name}}")
              | {{route.name}}
              span.menu-icon.fa(class="{{route.icon}}")

        .sidebar-footer
          .col-xs-3
            a(href='{{config.jiraHostName}}/secure/Dashboard.jspa', target='_blank')
              | JIRA
          .col-xs-4
            a(href='{{config.confluenceHostName}}', target='_blank')
              | Confluence
          .col-xs-5
            a(href='{{config.mercurialHostName}}', target='_blank')
              | Mercurial
      #content-wrapper
        .page-content
          .row.header
            .col-xs-12
              .user.pull-right
                .item.dropdown
                  a.dropdown-toggle(href='#', ng-show="isActive('/metrics')")
                    i.fa.fa-cog(style="font-size: 2em;")
                  ul.dropdown-menu.dropdown-menu-right
                    li.link
                      a(ng-model="isBarchart", ng-change="toggleBarChart()", btn-checkbox)
                        {{isBarchart ? 'Show as Bar chart' : 'Show as Line Chart'}}
                .item.dropdown
                  a.dropdown-toggle(href="#")
                    i.fa.fa-play-circle(ng-hide="slideshowPlaying", style="font-size: 2em;", ng-click='startSlideshow()', title="Start Slideshow ({{slideTimeInSecs}} secs)")
                    i.fa.fa-pause(ng-show="slideshowPlaying", style="font-size: 2em;", ng-click='pauseSlideshow()', title="Pause Slideshow")
              .meta
                .page
                  | JIRA Dashboard
                .breadcrumb-links
                  | Home / {{capitalizeFirstLetter(state.current.name)}}
              br
              timer(ng-class="{'hidden': !started}", autostart="false", interval="100", language="en")
                .progress
                  .progress-bar(style='width: {{(millis / 1000) * (100 / $parent.slideTimeInSecs) | number:0}}%;')
          div(ui-view="searchPanel", style="height:100%;")

  script(src='jquery/dist/jquery.js')
  script(src='angular/angular.js')
  script(src='angular-resource/angular-resource.min.js')
  script(src='angular-cookies/angular-cookies.min.js')
  script(src='angular-bootstrap/ui-bootstrap-tpls.js')
  script(src='angular-ui-router/release/angular-ui-router.js')
  script(src='lodash/dist/lodash.underscore.min.js')
  script(src='d3/d3.min.js')
  script(src='simple-statistics/src/simple_statistics.js')
  script(src='momentjs/min/moment.min.js')
  script(src='momentjs/min/locales.min.js')
  script(src='nvd3/nv.d3.js')
  script(src='angular-nvd3/dist/angular-nvd3.js')
  script(src='angular-sanitize/angular-sanitize.min.js')
  script(src='humanize-duration/humanize-duration.js')
  script(src='angular-timer/app/js/timer.js')
  script(src='angular-timer/app/js/i18nService.js')

  script(src='js/xml2json.js')

  script(src='index/directive/loading.js')
  script(src='index/directive/widget-body.js')
  script(src='index/directive/widget-footer.js')
  script(src='index/directive/widget-header.js')
  script(src='index/directive/widget.js')

  script(src='js/app.js')
  script(src='index/directive/feed.js')
  script(src='js/services.js')
  script(src='js/filters.js')
  script(src='js/directives.js')

  script(src='index/services/jira.service.js')
  script(src='index/services/stats.service.js')
  script(src='index/controller/masterController.js')
  script(src='index/controller/indexController.js')
  script(src='index/directive/throughput.js')
