!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    base(href='/')
    title Jira Metrics
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='nvd3/nv.d3.css')
    link(rel='stylesheet', href='rdash-ui/dist/css/rdash.min.css')

block body