!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Jira Metrics
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='nvd3/nv.d3.css')
  body
    block body